@use '../all-utils' as *;

.hero {
  text-align: center;
}

.hero__title {
  font-family: $syne-font;
  font-size: 2rem;
  font-weight: $font-weight-bold;
  padding-top: 20px;

  color: $white-color;
  text-align: center;
}

.hero__link {
  @extend %mainLinkButton;
  background-color: $orange-color;
}

.hero__link__icon {
  margin-left: 20px;
  width: 16px;
  height: 10px;
}
