@use './all-utils' as *;

html {
  overflow-x: hidden;
}

body {
  font-family: $rubik-font;

  color: $white-color;
  background-color: $bg-color;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
  @include container($breakpoints, $padding-breakpoints);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
  padding-top: 70px;
}

.section {
  padding-block: 30px;

  @include getMediaScreenSize($breakpoints, tablet) {
    padding-block: 50px;
  }

  @include getMediaScreenSize($breakpoints, desktop) {
    padding-block: 60px;
  }
}

.text__shadow {
  text-shadow: 1px 1px 70px;
}
