//Colors
$bg-color: #1a1a1a;
$test: rgba(0, 0, 0, 0.5);
$white-color: #ffffff;
$white-alpha-color: rgba(255, 255, 255, 0.4);
$orange-color: #ff9142;
$primary-grey-color: #a8a8a8;
$secondary-grey-color: #606060;

// Color maps
$statusColors: (
  'error': 'red',
  'success': green,
  'warning': yellow,
);

//Breakpoints
$breakpoints: (
  tiny: 320px,
  mobile: 480px,
  tablet: 768px,
  desktop: 1150px,
);

$padding-breakpoints: (
  tiny: 10px,
  mobile: 10px,
  tablet: 15px,
  desktop: 20px,
);

//Fonts
$inter-font: 'Inter', sans-serif;
$syne-font: 'Syne', sans-serif;
$rubik-font: 'Rubik', sans-serif;
$outfit-font: 'Outfit', sans-serif;

// Font Weights
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
