@use '../all-utils' as *;

.certificate__title {
  @extend %mainTitles;
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid $orange-color;
  @include getMediaScreenSize($breakpoints, desktop) {
    margin-top: 40px;
  }
}

.certificate__list {
  position: relative;
  z-index: -1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 3px;
    height: 100%;

    background-color: $primary-grey-color;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -13px;

    width: 30px;
    height: 30px;

    border-radius: 50%;

    background-color: $primary-grey-color;
  }
}
.certificate__item {
  position: relative;
  z-index: -1;

  padding-left: 40px;

  &:not(:last-child) {
    margin-bottom: 50px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    height: 3px;
    width: 10%;

    background-color: $primary-grey-color;
  }

  &::after {
    content: '';
    position: absolute;
    top: -8px;
    left: -7px;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    background-color: $primary-grey-color;
  }

  @include getMediaScreenSize($breakpoints, mobile) {
    padding-left: 80px;
  }
  @include getMediaScreenSize($breakpoints, tablet) {
    padding-left: 100px;
  }
  @include getMediaScreenSize($breakpoints, desktop) {
    padding-left: 150px;
  }
}

.item__flex {
  @include getMediaScreenSize($breakpoints, tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.certificate__name {
  margin-bottom: 5px;
}

.certificate__description {
  font-size: 14px;
  margin-bottom: 10px;
}

.certificate__date {
  font-size: 12px;
  margin-bottom: 20px;
}

.certificate__image {
}
