@use '../all-utils' as *;

.experience {
}
.experience__title {
  @extend %mainTitles;
}

.experience__list {
}
.experience__item {
  &:not(:last-child) {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $primary-grey-color;
  }
}
.experience__wrapper {
  @include getMediaScreenSize($breakpoints, tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 30px;
  }
}
.experience__name {
  @include getMediaScreenSize($breakpoints, tablet) {
    font-size: 1.3rem;
  }
  @include getMediaScreenSize($breakpoints, desktop) {
    font-size: 1.5rem;
  }
}
.experience__description {
  color: $orange-color;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }

  @include getMediaScreenSize($breakpoints, tablet) {
    font-size: 1.2rem;
  }
}

.experience__description--highlight {
  color: $orange-color;
  font-weight: $font-weight-light;
}

.experience__dates {
  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
  @include getMediaScreenSize($breakpoints, tablet) {
    font-size: 1.2rem;
  }
}
.responsibilities__list {
}
.responsibilities__item {
  position: relative;
  z-index: -1;

  padding-left: 30px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;

    width: 10px;
    height: 10px;

    border-radius: 50%;

    background-color: $primary-grey-color;
  }

  @include getMediaScreenSize($breakpoints, tablet) {
    font-size: 1.2rem;
  }
}
