/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body,
html {
  height: 100%;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

html {
  overflow: hidden;
}

body {
  background-color: #1a1a1a;
  font-family: "Rubik", sans-serif;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}
@media (min-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0 10px;
  }
}
@media (min-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 10px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
  }
}
@media (min-width: 1150px) {
  .container {
    max-width: 1150px;
    padding: 0 20px;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

.header {
  position: relative;
  padding-top: 20px;
}

.header__desktop__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 10px;
}

.header__mobile__wrapper {
  position: absolute;
  top: 100%;
  right: 0;
  width: 60%;
  height: 100vh;
  border-left: 1px solid #606060;
  background-color: #1a1a1a;
  transform: translateX(100%);
  transition: transform 1000ms;
}
.isOpen .header__mobile__wrapper {
  transform: translateX(0);
}

.header__nav__link {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  text-decoration: none;
}
.header__nav__link:active, .header__nav__link:focus {
  color: #ffffff;
}
.header__nav__link .header__nav__item:active, .header__nav__item:focus .header__nav__link {
  color: #ffffff;
}

.header__burger__btn {
  position: relative;
  width: 35px;
  height: 24px;
}
.header__burger__btn::before, .header__burger__btn:after, .header__burger__btn > span {
  position: absolute;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: all 1000ms;
}
.header__burger__btn::before {
  content: "";
  top: 0;
}
.header__burger__btn::after {
  content: "";
  bottom: 0;
}
.header__burger__btn > span {
  top: 50%;
  transform: translateY(-0.5px);
}
.isOpen .header__burger__btn::before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.isOpen .header__burger__btn::after {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.isOpen .header__burger__btn > span {
  width: 0%;
}/*# sourceMappingURL=index.css.map */